@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf') format('truetype');
}

// @font-face {
//     font-family: 'Lato';
//     src: url('/fonts/Lato/Lato-Regular.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

// Uncomment this and everything goes bold. Don't ask why. Because I DON'T KNOW.
// @font-face {
//     font-family: 'Lato';
//     src: url('/fonts/Lato/Lato-Bold.ttf') format('truetype');
//     font-weight: bold;
//     font-style: normal;
// }

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-Thin.ttf') format('truetype');
    font-weight: thin;
    font-style: normal;
}

@font-face {
    font-family: 'Sawarabi Gothic';
    src: url('/fonts/Sawarabi_Gothic/SawarabiGothic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sawarabi Gothic';
    src: url('/fonts/Sawarabi_Gothic/SawarabiGothic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// TODO: Use scss variables for background color and content colors.

$primary-color: #f5f5f5;
$bg-color: #222222;

// These I just went into the rendered site and copied the inline static styles from pre tags
$codeblock-bg: #2b303b;
$codeblock-color: #c0c5ce;

$font-4xl: 60px;
$font-3xl: 40px;
$font-2xl: 30px;
$font-xl: 20px;
$font-lg: 18px;
$font-md: 16px;
$font-sm: 14px;
$font-xs: 12px;

body {
    background: $bg-color;
    color: $primary-color;
    font-family: 'Sawarabi Gothic', sans-serif;
}

code {
    font-family: 'IBM Plex Mono', monospace;
    background-color: $codeblock-bg;
    color: $codeblock-color;
    padding: 4px;
    border-radius: 4px;
}

pre {
    padding: 12px;
    border-radius: 8px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: thin;
    // font-family: 'Sawarabi Gothic', sans-serif;
    // font-weight: bold;
    padding: 10px 0;
}

.blog-title {
    font-family: 'Lato', sans-serif;
    font-size: $font-4xl;
    font-weight: thin;
    padding: 16px 0;
}

h1 {
    font-size: $font-3xl;
}

h2 {
    font-size: $font-2xl;
}
h3 {
    font-size: $font-xl;
}
h4 {
    font-size: $font-lg;
}
h5 {
    font-size: $font-md;
}
h6 {
    font-size: $font-sm;
}

ul {
    list-style: inside;
}

.hero-title {
    font-family: 'Lato', sans-serif;
    font-size: 80px;
    font-weight: thin;
}

.blog-container {
  width: full;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-container {
  max-width: 125ch;
  padding-bottom: 32px;
}
